html,body {
	margin: 0;
	height: 100%;
	background: #EEEEEE; /* background: red; */
	font-family: sans-serif;
	font-size: 12px;
	height: 100%;
}

.tableHeader {
	background-color: #FF8800;
	padding: 3px;
}

.tableRow1 {
	background-color: white;
	font-size: 11px;
	padding: 20px;
}

.tableRow2 {
	background-color: #F1F1F1;
	font-size: 11px;
	padding: 20px;
}

.tableCol1 {
	width: 55px;
}

.tableCol2 {
	width: 20%;
}

.tableCol3 {
	width: 30%;
}

.tableCol4 {
	width: 20%;
}

.tableCol5 {
	width: 10%;
	text-align: center;
}

.tableCol6 {
	width: 5%;
}

.tableCol7 {
	width: 10%;
}

.tableCol8 {
	width: 5%;
}

.headerBorder {
	width: 100%;
	background-color: #FF8800;
	height: 5px;
}

.panel {
	border: 2px solid #FF8800;
	padding: 10px;
}

.panelHeader {
	background-color: #FF8800;
	text-align: center;
	padding: 5px;
	font-weight: bold;
	vertical-align: middle;
}

.headCol1 {
	width: 25px;
}

.headCol2 {
	width: 100%;
}

.mainCol1 {
	width: 20%;
	/*background-color: #EEEEEE;*/
	vertical-align: top;
}

.mainCol2 {
	width: 80%;
	vertical-align: top;
	padding-right: 100px;
}

.bottomLeft {
	position: absolute;
	bottom: 0px;
}

.footerCol1 {
	width: 85%;
}

.footerCol2 {
	width: 15%;
	font-size: 10px;
}